<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.SectionMoveMapper">

    <insert id="add" parameterType="com.neuedu.pojo.SectionMovePojo">
        insert into smove(eno, name, moveCause, moveDate, oldPosition, movePosition, moveType, remark)
         values(#{eno},#{name},#{moveCause},#{moveDate}, #{oldPosition}, #{movePosition},#{moveType},#{remark})
    </insert>
    <select id="queryAll" resultType="com.neuedu.pojo.SectionMovePojo">
        SELECT * FROM smove
    </select>

    <select id="queryById" resultType="com.neuedu.pojo.SectionMovePojo">
        SELECT * FROM smove WHERE id = ${id}
    </select>
</mapper>